{% extends 'backuser.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <form id="searchForm" class="mb-20">
        <div class="col-md-4">
            <label for="search" class="visually-hidden">Rechercher par nom ou prénom </label>
            <input type="text" name="search" id="search" class="form-control form-control-sm smaller-search-box" placeholder="Rechercher par nom ou prénom" aria-label="Rechercher par nom ou prénom">
        </div>
    </form>

    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle(s)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="searchResults">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-dark btn-sm">Modifier</a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    <a href="{{ path('block_user', {'id': user.id}) }}" class="btn btn-warning btn-sm">
                        {% if user.isBlocked %}Débloquer{% else %}Bloquer{% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search').on('input', function () {
                var searchTerm = $(this).val().toLowerCase();
                filterUsers(searchTerm);
            });

            function filterUsers(searchTerm) {
                $('#searchResults tr').filter(function () {
                    var prenom = $(this).find('td:eq(1)').text().toLowerCase(); // Index 1 corresponds to the Prenom column
                    var nom = $(this).find('td:eq(2)').text().toLowerCase(); // Index 2 corresponds to the Nom column
                    var fullName = prenom + ' ' + nom;

                    $(this).toggle(fullName.indexOf(searchTerm) > -1);
                });
            }
        });
    </script>
{% endblock %}
